body {
    background-color: rgba(0, 0, 0, 0.900);
}

.div {
    margin-top: 100px;
    margin-left: 300px;
    width: fit-content;
}

#div_cal {
    position: absolute;
    visibility: visible;
}

#div_scal {
    position: absolute;
    visibility: hidden;
    left: 265px;
}

.div_scal {
    position: absolute;
}

.div_con {
    margin-left: 900px;
    float: right;
    position: absolute;
}

.div_cal.button {
    align-items: center;
}

.div_scal.button {
    align-items: center;
}

.textbox_cal {
    border: none;
    height: 110px;
    outline: none;
    width: 300px;
    font-size: 30px;
    text-align: right;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.io {
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.form_scalh {
    border: none;
    height: 56.5px;
    outline: none;
    width: 402px;
    font-size: 15px;
    text-align: right;
    letter-spacing: 2px;
    background-color: white;
    padding: 0px;
}

.form_scalo {
    border: none;
    height: 56.5px;
    outline: none;
    width: 402px;
    font-size: 30px;
    text-align: right;
    letter-spacing: 2px;
    background-color: white;
    padding: 0px;
}

.button {
    height: 70px;
    width: 77.5px;
    margin-top: 3px;
    background-color: black;
    color: #03e9f4;
    border: none;
    font-size: 30px;
}

.button:hover {
    background-color: #03e9f4;
    color: black;
    transition: 0.1s;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 30px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 250px #03e9f4;
    position: relative;
    z-index: 1;
}

.heading_cal {
    color: #03e9f4;
    margin-left: 45px;
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 30px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 250px #03e9f4;
}

.heading_con {
    color: #f45b03;
    margin-left: 60px;
    text-shadow: 0px 0px 5px #f45b03, 0px 0px 30px #f45b03, 0px 0px 50px #f45b03, 0px 0px 250px #f45b03;
}

#mass {
    height: 50px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: #00a2ff;
    border: none;
    font-size: 16px;
}

#length {
    height: 50px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: #3cff00;
    border: none;
    font-size: 16px;
}

#currency {
    height: 50px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: #f4033f;
    border: none;
    font-size: 16px;
}

#mass:hover {
    background-color: #00a2ff;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #00a2ff, 0px 0px 30px #00a2ff, 0px 0px 50px #00a2ff, 0px 0px 250px #00a2ff;
    border-radius: 10px;
}

#mass:focus {
    background-color: #00a2ff;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #00a2ff, 0px 0px 30px #00a2ff, 0px 0px 50px #00a2ff, 0px 0px 250px #00a2ff;
    border-radius: 10px;
}

#length:hover {
    background-color: #3cff00;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #3cff00, 0px 0px 30px #3cff00, 0px 0px 50px #3cff00, 0px 0px 250px #3cff00;
    border-radius: 10px;
}

#length:focus {
    background-color: #3cff00;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #3cff00, 0px 0px 30px #3cff00, 0px 0px 50px #3cff00, 0px 0px 250px #3cff00;
    border-radius: 10px;
}

#currency:hover {
    background-color: #f4033f;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #f4033f, 0px 0px 30px #f4033f, 0px 0px 50px #f4033f, 0px 0px 250px #f4033f;
    border-radius: 10px;
}

#currency:focus {
    background-color: #f4033f;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #f4033f, 0px 0px 30px #f4033f, 0px 0px 50px #f4033f, 0px 0px 250px #f4033f;
    border-radius: 10px;
}

.mass_io {
    height: 50px;
    width: 170px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #00a2ff;
    background: transparent;
    color: #00a2ff;
    text-decoration: #00a2ff;
    -webkit-appearance: none;
    
   
}

.mass_io::placeholder {
    color: #00a2ff;
}

.mass_btn {
    height: 50px;
    width: 100px;
    font-size: 16px;
    background: #00a2ff;
    box-shadow: 0px 0px 5px #00a2ff, 0px 0px 30px #00a2ff, 0px 0px 50px #00a2ff, 0px 0px 250px #00a2ff;
    border-radius: 10px;
    border: none;
}

.mass_drop {
    font-size: 20px;
    outline: none;
    border: none;
    border-width: 0px;
    color: #00a2ff;
    background-color: rgba(0, 0, 0, 0);
}

.length_io {
    height: 50px;
    width: 170px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #3cff00;
    background: transparent;
    color: #3cff00;
    text-decoration: #3cff00;
}

.length_io::placeholder {
    color: #3cff00;
}

.length_btn {
    height: 50px;
    width: 100px;
    font-size: 16px;
    background: #3cff00;
    box-shadow: 0px 0px 5px #3cff00, 0px 0px 30px #3cff00, 0px 0px 50px #3cff00, 0px 0px 250px #3cff00;
    border-radius: 10px;
    border: none;
}

.length_drop {
    font-size: 20px;
    outline: none;
    border: none;
    border-width: 0px;
    color: #3cff00;
    background-color: rgba(0, 0, 0, 0);
}

.curr_io {
    height: 50px;
    width: 170px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #f4033f;
    background: transparent;
    color: #f4033f;
    text-decoration: #f4033f;
}

.curr_io::placeholder {
    color: #f4033f;
}

.curr_btn {
    height: 50px;
    width: 100px;
    font-size: 16px;
    background: #f4033f;
    box-shadow: 0px 0px 5px #f4033f, 0px 0px 30px #f4033f, 0px 0px 50px #f4033f, 0px 0px 250px #f4033f;
    border-radius: 10px;
    border: none;
}

.curr_drop {
    font-size: 20px;
    outline: none;
    border: none;
    border-width: 0px;
    color: #f4033f;
    background-color: rgba(0, 0, 0, 0);
}

.con_form {
    padding-top: 50px;
    position: absolute;
}

#mass_div {
    visibility: hidden;
}

#length_div {
    visibility: hidden;
}

#curr_div {
    visibility: hidden;
}